{% extends "base.html" %}
{% block content %}
  <div id="singlefilm">
    <p>Name: {{ film.title }}</p>
    <p>Description: {{ film.description }}</p>
    <p>Category: {{ film.category  }}</p>
    <p>Rating: {{ film.rating }}</p>
    <p>Price ot the ticket: {{ film.price_of_ticket }}</p>
    <p>Time: {{ film.time }}</p>
    <p>Type of Film: {{ film.type_of_film }}</p>
    <p>Age: {{ film.age }}</p>
    <p>Subtitles: {{ film.subtitels }}</p>
    <p>Language: {{ film.language }}</p>
  </div>
{% endblock %}